$background-color: #28ff5e;
$darkmode-background-color: #713dae;
$text-color: white;
$darkmode-text-color: #D30F2C;
$nav-text-color: #3872ec;
$footer-text-color: #3872ec;
$text-shadow: rgba(191, 191, 240, 0.253)  0.3rem 0rem 1rem;
$box-shadow: #28ff5e 0.3rem 0rem 1rem;
$darkmode-box-shadow: #713dae 0.3rem 0rem 1rem;
$border: white .3rem solid;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233aedff'/%3E%3Cstop offset='1' stop-color='%233aedff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2331f8ff'/%3E%3Cstop offset='1' stop-color='%2331f8ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23435aff'/%3E%3Cstop offset='1' stop-color='%23435aff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2328ff5e'/%3E%3Cstop offset='1' stop-color='%2328ff5e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234c58ff'/%3E%3Cstop offset='1' stop-color='%234c58ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233a5eff'/%3E%3Cstop offset='1' stop-color='%233a5eff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: font;
    margin: 0;
}

/*IDs*/
#heading {
    text-align: center;
    font-size: 4rem;
    color: $text-color;
    text-shadow: $text-shadow;
}

#header-img {
    width: 10rem;
}

#switchToDarkMode {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.5rem;
    font-family: font;
    text-shadow: $text-shadow;
    outline: $border;
    cursor: pointer;
    width: 100%;
}

#nav {
    width: 100%;
    background-color: transparent;
    font-size: 2rem;
    text-decoration: none;
    color: $text-color;
    text-shadow: $text-shadow;
    border: none;
    outline: $border;
    cursor: pointer;
    font-family: font;
}

#nav-active {
    @extend #nav;
    color: $nav-text-color;
}

#contact {
    font-size: 1.5rem;
    color: $text-color;
    text-align: center;
}

#contact-number {
    @extend #contact;
    color: $footer-text-color;
}

#contact-link {
    @extend #contact-number;
    text-align: center;
    text-decoration: underline;
}

#footer-text {
    color: $text-color;
    text-align: center;
    font-size: 2rem;
}

/*Slideshow IDS*/
#slide {
    border: $border;
    width: 50rem;
    height: 45rem;
    box-shadow: $box-shadow;
}

#logo {
    @extend #slide;
}

#logo-2 {
    display: none;
}

#overview-text {
    color: $text-color;
    text-align: center;
    max-width: 50rem;
    text-shadow: $text-shadow;
    font-size: 2rem;
}
/*End of Slideshow IDs*/
/*End of IDs*/

/*Classes*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: $background-color;
    box-shadow: $box-shadow;
    border: $border;
}

.footer {
    background-color: $background-color;
    box-shadow: $box-shadow;
    border: $border;
}

/*Slideshow Classes*/
.slideShow {
    display: flex;
    justify-content: center;
}

.overview {
    display: none;
    animation-name: switchSlide;
    animation-duration: 1s;
}

.previous {
    cursor: pointer;
    color: $text-color;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4rem;
    user-select: none;
    text-shadow: $text-shadow;
}

.next {
    @extend .previous;
}
/*End of Slideshow Classes*/

/*Darkmode*/
.darkmode {
    background-color: $darkmode-background-color;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23271a87'/%3E%3Cstop offset='1' stop-color='%23271a87' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23271a87'/%3E%3Cstop offset='1' stop-color='%23271a87' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23061752'/%3E%3Cstop offset='1' stop-color='%23061752' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23713dae'/%3E%3Cstop offset='1' stop-color='%23713dae' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23061752'/%3E%3Cstop offset='1' stop-color='%23061752' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23061752'/%3E%3Cstop offset='1' stop-color='%23061752' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.darkmode {
    .navbar {
    background-color: $darkmode-background-color;
    box-shadow: $darkmode-box-shadow;
    }
    #nav {
        color: $text-color;
    }
    #nav-active {
        color: $darkmode-text-color;
    }
}

.darkmode
.slideShow
.overview
a
#slide {
    box-shadow: $darkmode-box-shadow;
}

.darkmode
.slideShow
.overview
a
#logo {
    display: none;
}

.darkmode
.slideShow
.overview
a
#logo-2 {
    display: block;
    border: $border;
    width: 50rem;
    height: 45rem;
    box-shadow: $darkmode-box-shadow;
}

.darkmode {
    .footer {
    background-color: $darkmode-background-color;
    box-shadow: $darkmode-box-shadow;
    }
    #footer-text {
        color: $text-color;
    }
    #contact-link {
        color: $darkmode-text-color;
    }
    #contact-number {
        color: $darkmode-text-color;
    }
}

.darkmode {
    .active {
        color: $darkmode-text-color;
    }
}


/*End of Darkmode*/


/*Animations*/

@keyframes switchSlide {
    0% {
        opacity: 0%;
    }
}

/*End of Animations*/


/*Fonts*/
@font-face {
    src: url('../fonts/PhantomRush.ttf');
    font-family: font;
}


/*Gallery*/
#website {
    width: 32rem;
    border: solid .3rem white;
}

.gallery-container-one {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.gallery-container-two {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.gallery-container-three {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

/*Gallery End*/


/*Piano*/
$white-keys: white;
$black-keys: rgb(45, 45, 196);
$white-active: #CCC;
$black-active: #28ff5e;
$blackkeys-darkmode: #D30F2C;
$display: flex;

.piano {
    display: $display;
    width: fit-content;
    border: solid rgb(45, 45, 196) 1rem;
    margin: auto;
}

.white-key {
    width: 6.25rem;
    height: 25rem;
    background-color: $white-keys;
    border: .1rem rgb(45, 45, 196) solid;
}

.white-key.active {
    background-color: $white-active;
}

.black-key.active {
    background-color: $black-active;
}

.black-key {
    width: 3.75rem;
    height: 15rem;
    background-color: $black-keys;
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    z-index: 2;
}

.darkmode {
    .piano {
        border: solid $blackkeys-darkmode 1rem;
    }
    .black-key {
        background-color: $blackkeys-darkmode;
    }
    .white-key {
        border: .1rem #D30F2C solid;
    }
    .black-key.active {
        background-color: #713dae;
    }
}